<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_social_media_black"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_social_media_black"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialBot"
        tools:targetApi="31">
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SocialBot.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity    android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SocialBot.NoActionBar" android:name=".MainActivity" />
    </application>

</manifest>